[submodule "baselines"]
	path = baselines
	url = https://github.com/eric-heiden/baselines.git
[submodule "garage"]
	path = garage
	url = https://github.com/rlworkgroup/garage.git
	branch = eric-pushenv
[submodule "multiworld"]
	path = multiworld
	url = https://github.com/vitchyr/multiworld.git
	branch = russell
