[submodule "baselines"]
	path = baselines
	url = https://github.com/eric-heiden/baselines.git
[submodule "garage"]
	path = garage
	url = https://github.com/rlworkgroup/garage.git
	branch = eric-sawyer-fix
